                              {% for row in rows %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ row.nama }}</td>
                                    <td>{{ row.semester }}</td>
                                    <td>{{ row.jurusan }}</td>
                                    <td>{{ row.pred }}</td>
                                    
                                    
                                </tr>
                              {% endfor %}