                              {% for row in rows %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ row.nama }}</td>
                                    <td>{{ row.jurusan }}</td>
                                    <td>{{ row.semester }}</td>
                                    <td>{{ row.internet }}</td>
                                    <td>{{ row.alumni }}</td>
                                    <td>{{ row.media }}</td>
                                    <td>{{ row.beasiswa }}</td>
                                    <td>{{ row.kerja }}</td>
                                    <td>{{ row.belajar }}</td>
                                    
                                    
                                </tr>
                              {% endfor %}