{% extends 'base2.html' %}
    {% block content %}
        <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Visual</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Visual</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <div class="card">
              
       <div class="card-body">
         <!-- Create book button -->
                <div class="col-12 mb-3">
                <div style="height:500px;width:100%;">
                <h1>PLOT</h1>
                <canvas id="myChart"></canvas>
              </div>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              Pusat Cluster:
              </br>
                {% for row in rows %}
                                <tr>

                                    <td>{{ forloop.counter }}</td>,
                                    <td>{{ row.nama }}</td>,
                                    
                                    <td>{{ row.internet }} mendapatakan informasi Program Studi yang saya pilih melalui Internet</td> ,
                                    
                                    <td>{{ row.alumni }} mendapatakan informasi Program Studi yang saya pilih melalui Alumni UHO</td> ,

                                    <td>{{ row.media }} mendapatakan informasi Program Studi yang saya pilih dari Media Massa</td>,
                                     
                                    <td>{{ row.beasiswa }} memilih Program Studi tersebut karena tertarik dengan beasiswa yang ada</td>,
                                     
                                    <td>{{ row.bekerja }} memilih Program Studi tersebut karena peluang kerja yang bagus</td>,
                                    
                                    <td>{{ row.belajar }} tertarik dan ingin belajar lebih banyak setelah lulus di Program Studi yang saya pilih</td>,
                                    
                                    
                                  
                                </tr>
                                </br>
                              {% endfor %}
                              {{u}}
              </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.2
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Add Content Here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
 <input type="hidden" name="mydata" value="{{ data }}" />
        <input type="hidden" name="mycluster" value="{{ cluster }}" />
        <input type="hidden" name="mahasiswa" value="{{ mahasiswa }}" />
    {% endblock %}





{% block extrascripts %}
<script>
    $(document).ready(function(){
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
      var dataku = document.getElementsByName('mydata')[0].value;
      var cluster = document.getElementsByName('mycluster')[0].value;
      var mahasiswa = document.getElementsByName('mahasiswa')[0].value;
      dataku = JSON.parse(dataku);
      cluster = JSON.parse(cluster);
      // mahasiswa = JSON.parse(mahasiswa);
      // console.log(typeof(mahasiswa));
      let data_cluster = {
        0 : [],
        1 : [],
        2 : []
      };
      for (let i = 0; i < dataku.length; i++) {
        z = {
          x : dataku[i][0],
          y : dataku[i][1]
        }
        data_cluster[cluster[i]].push(z);
      }

      var ctx = document.getElementById("myChart").getContext('2d');

      // End Defining data
      var options = {
        responsive: true, // Instruct chart js to respond nicely.
        maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
        tooltips: {
         callbacks: {
            label: function(tooltipItem, data) {
              console.log(tooltipItem);
               var label = tooltipItem.index;
               return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
            }
         }
       }
      };

      // End Defining data
      var myChart = new Chart(ctx, {
          type: 'scatter',
          data: {
              datasets: [
                {
                  label: '1', // Name the series
                  data: data_cluster[0], // Specify the data values array
                  borderColor: '#2196f3', // Add custom color border
                  backgroundColor: '#2196f3', // Add custom color background (Points and Fill)
                },
                {
                  label: '2', // Name the series
                  data: data_cluster[1], // Specify the data values array
                  borderColor: '#d92b2b', // Add custom color border
                  backgroundColor: '#d92b2b', // Add custom color background (Points and Fill)
                },
                {
                  label: '3', // Name the series
                  data: data_cluster[2], // Specify the data values array
                  borderColor: '#3fd92b', // Add custom color border
                  backgroundColor: '#3fd92b', // Add custom color background (Points and Fill)
                },
              ]
          },
          options: options
      });
    });
</script>
{% endblock extrascripts %}

